body{
  margin:0;
  font-family:Arial;
  background:#ffe6f0;
}

header{
  background:#ff4d88;
  color:white;
  text-align:center;
  padding:60px 20px;
}

.hero{
  display:flex;
  justify-content:center;
  margin-top:30px;
}

.hero img{
  width:300px;
  border-radius:20px;
  box-shadow:0 5px 20px rgba(0,0,0,0.3);
}